[submodule "CodeIgniter"]
	path = CodeIgniter
	url = https://github.com/EllisLab/CodeIgniter.git
[submodule "private/CodeIgniter"]
	path = private/CodeIgniter
	url = https://github.com/EllisLab/CodeIgniter.git
